<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="./styles/partial/dashboard.css">
    <title><%= title %></title>
</head>
<body>
    <div class="header">
        <div class="intro-header">
            <div class="logo-cont">
                <img class="logo" src="" alt="logo">
                <p class="logo-text"></p>
            </div>
            <div class="admin-profile">
                <p class="admin-name"></p>
                <img class="admin-prfp" src="" alt="admin profile">
            </div>
        </div>
    </div>
    <div class="secondary-head">
        <div class="intro-s-header">
            <div class="menu-s-h">
                <a href="#" id="dashboard" class="menu-link"><i class="fas fa-plug"></i></a>
                <a href="#" id="users" class="menu-link"><i class="fas fa-users"></i></a>
                <a href="#" id="mail" class="menu-link"><i class="fas fa-mail-bulk"></i></a>
            </div>
            <div class="admin-profile">
                <p class="admin-name"></p>
                <img class="admin-prfp" src="" alt="admin profile">
            </div>
        </div>
    </div>
</body>
</html>