
<div class="" class="login-container">
    <div class="bg-login">
        <div class="intro-login">
            <div class="img-login">
                <img src="" alt="">
            </div>
            <div class="detaile-login">
                <h1>its loginn page</h1>
            </div>
        </div>
    </div>
</div>

